<h1>Add Artist</h1>

<form action="<%= artists_url %>" method="POST">
    <label for="artist-name">Artist Name</label>
    <input type="text" id="artist-name" name="artist[name]">
    <input type="submit" value='submit'>
</form>
