<h1><%= @artist.name %></h1>

<ul>
    <% @artist.albums.each do |album| %>
        <li> <%= album.name %> </li>
        <ul>
            <% album.tracks.each do |track| %>
                <li>
                    <%= track.name %>
                    <% if track.live %>
                        <%= " (live)" %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
</ul>